<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='nigel_style.css') }}">
    <title>Nigel - {{ title }}</title>
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class=" alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    {% include 'menu.html' %}
    {% block content %}{% endblock %}
</body></html>
