<!-- FILEPATH: /home/kriminel/Documents/Code/nigel/app/templates/new_post.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    {% include 'menu.html' %}
<form action="/new_post" method="POST">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required>

    <label for="author">Author:</label>
    <input type="text" id="author" name="author" required>

    <label for="content">Content:</label>
    <textarea id="content" name="content" required></textarea>

    <button type="submit">Submit</button>
</form>
</body>
</html>
