<!-- FILEPATH: /home/kriminel/Documents/Code/nigel/app/templates/new_post.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    {% include 'menu.html' %}
    <h1>Register User</h1>
        <form action="/register_user" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"><br><br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email"><br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"><br><br>
            <label for="password2">Password (repeat):</label>
            <input type="password2" id="password2" name="password2"><br><br>
            <input type="submit" value="Register">
        </form>
    </body>
</html>
